body, html {
    height: 100%;
}

.navbar {
    padding-left: 5% !important;
    padding-right: 5% !important;
    padding-top: 3% !important;
}

.avicii-white {
    background-image: url(../images/avicii-white.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about {
    text-align: center;
    color: black;
    background-color: #d3d3d3;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.avicii-dark {
    background-image: url(../images/avicii-dark.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    padding-top: 3%;
    font-family: 'Sacramento', cursive;
    font-size: 75px;
}

p {
    font-family: 'Righteous', cursive;
}

.al {
    width: 35%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.albums {
    background-color: white;
    size: 50%;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 0 !important;
}

.card-deck .card {
    min-width: 220px;
}

.container {
    max-width: 1000px;
}

.album-photos {
    height: 50%;
    width: 100%;
    background-image: url(../images/all-album-images.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand {
    font-size: 38px;
    font-weight: bold;
}

.navbar-toggler {
    background-color: grey;
}

.carousel {
    background-color: black;
    text-align: center;
    padding-bottom: 50px;
    min-height: 250px;
}



.albums-background {
    background-image: url(../images/avicii-picture.jpeg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.dropdown-menu {
    color: darkred;
}

.nav-link {
    color: grey !important;
}
